/* =============================================================================
  body styling
============================================================================= */

html {font-weight: 400;
  height: 100%;
  line-height: 1.5em;
  list-style-position: outside;
  list-style-type: none;
  overflow: auto;
  position: relative;
  quotes: "\201c" "\201d" "\2018" "\2019";
  text-align: center;
  width: 100%;
  /* background-image: url('/images/floral_wallpaper.jpg');*/
  }
body {
  padding: 24px 0 0 0; /* Creating some vertical space for fixed navigation bar */
  
  }

body {background: #fff;

-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-image: url('/images/164.jpg');
/*background-repeat: repeat;*/
}

#blog_content {background-color: rgb(255,255,255);
margin-top: 25px;}

/* =============================================================================
  header + menus
============================================================================= */
header {
  background-color: rgba(255,255,255,1);
  border-top: 3px solid rgb(40,40,40);
  border-bottom: solid 1px rgb(227,34,137);
  color: rgb(40,40,40);
  font-family: Helvetica, Arial, sans-serif;
  z-index: 999;
}

li.a {text-transform: uppercase;
  color: rgb(240,60,156);
  }

h1, h2, h3, h4 {font-family: "estilo-regular";}

h5 {font-family: 'Roboto', Arial, sans-serif;
  font-size: 10px;}

#title_header {
  background-color: rgb(255,255,255);
  /* margin: 0 auto;*/
  position: absolute fixed;
   
}

.site-title {font-size: 2em;
  font-family: "estilo-script", sans-serif;
  }

/* =============================================================================
  typography
============================================================================= */

a, a:visited {
  color: #333;
}

a:hover { color: rgb(227,34,137);
  text-decoration: none;}

a.navbar-nav {color:rgb(227,34,137);}

.lead {font-size: 14px; }

p {font-family: 'Roboto', Helvetica, Arial, sans-serif;}

/* This line should appear on the side of the element, applying it to H2 is not working */
.lined {}

.fancy {color: rgb(227,34,137);}

.intro {
  font-family: 'Roboto', Arial, sans-serif;
  }

  h2:before,
  h2:after {
    content: ""; 
    position: absolute; 
    top: 50%;
    width: 200%; /*can be set larger, but this was the largest it needed to be in my case*/
    height: 0;
    
    /* the fancy pink keylines*/
    border-top: solid 1px rgb(227,34,137);;
    border-bottom: solid 1px rgb(227,34,137);; 
  }
  
  /* 
   * Making pseudeo-elements start at boundaries of the text element
   */
  
  h2:before {
    right: 100%; 
  }
  
  h2:after {
    left: 100%; 
  }

/* =============================================================================
  main area styling
============================================================================= */

.jumbotron {background-color: rgb(245,245,245);
  margin-top: 25px;}

/* Styling for front page portfolio teaser, not portfolio page */
#port {background-color: rgb(255,255,255);
  padding-bottom: 25px;
}

#contact {background-color: rgb(255,255,255);
  padding-bottom: 25px;
}

.port-img {max-width: 33%;
}

.post {background-color: rgb(255,255,255);
  padding: 25px;}

/*Styling used on portfolio pages and beyond, need to consolidate into class */

#port {background-color: rgb(255,255,255);
  margin-top: 25px;
  padding-top: 10px;}

.dark {background-color: #ccc;
    margin-top: 25px;
  padding: 20px;
  text-align: left;
  height: auto;
  min-height: 800px;
  }

#details {background-color: rgb(255,255,255);
  margin-top: 25px;
  padding: 20px;
  text-align: left;}

.blog-content {margin-bottom: 25px;}

input {width: 90%;
padding: 12px 20px;
margin: 8px 0;}

input[type=text] {
box-sizing: border-box;}

input:focus {
border: 2px solid #999;}

hr.love {
  border-top: 4px double #8c8b8b;
  text-align: center;
}
hr.love:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}


/* =============================================================================
  footer
============================================================================= */

#footer {
	  background-image: linear-gradient(45deg, #101010 25%, #242424 25%, #242424 50%, #101010 50%, #101010 75%, #242424 75%, #242424);
    background-size: 8px 8px;
    padding-bottom: 25px;
    border-top: solid 1px rgb(227,34,137);
}

#footer p {
	color: #fefefe;
	/*font-weight: bold;*/}

#footer a {
  color: rgb(227,34,137);
}

#footer h2 {color: rgb(227,34,137);
font-weight: bold;}



/* Todo: Fix responsiveness, esp in hero section;#footer-desc */