---
layout: default
---



<div class="container">



  <div class="container">

{% include hero.html %}          

</div>

<div class="row">
  <div class="col-md-12" id="port">
    <h2>Selected work:</h2>
    <img class="img img-responsive img-thumbnail port-img" src="{{ site.baseurl }}/images/portfolio/SowingSeeds-port.png" />
    <img class="img img-responsive img-thumbnail port-img" src="{{ site.baseurl }}/images/portfolio/SN2010-port.png" />
    <img class="img img-responsive img-thumbnail port-img" src="{{ site.baseurl }}/images/portfolio/Landtec-port.png" />

    <div>
      <h3 class="text-center"><a href="{{ site.baseurl }}/portfolio/">View more -></a></h3>
    </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12" id="blog_content">
      <h2>Blog</h2>

          {% for post in site.posts %}
          <!--p class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></p-->
          <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
          <p class="post-meta">{{ post.date | date_to_string }}</p>
                                      
                  <!--img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt=""-->
          {% endfor %}
    </div>
  </div>
    </div>
  </div>
</div>


</div>