 <header>

      <div class="container"  style="background-color: #fff;">
        <div class="row">
          <!--div class="col-md-4">.col-md-4</div-->
          <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2" id="title_header" style="margin 0 auto;">
        <h1><a class="site-title text-center" href="{{ site.baseurl }}/">Voodoo <img class="img" src='{{ site.baseurl }}/images/veve.png'/> Bettie</a></h1>
      
      </div></div></div>


<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid" >
  <div class="navbar-header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index" role="button">Home</a></li>
        <!--li><a href="/about" role="button">About</a></li-->
        <!--li><a href="/portfolio" role="button">Work</a></li-->
        <!--li><a class="nav" href="/resources" role="button">Resources</a></li-->
        <!--li><a class="nav" href="/blog/" role="button">Blog</a></li-->
        <!--li><a class="nav" href="/contact/" role="button">Contact</a></li-->
      
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="nav" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

      </div>
</nav>





  </div>
</nav>


  </div><!-- row ends -->      






</div><!-- ends container -->


    



     



</header>
