


<div id='bio' class="col-md-12 jumbotron">
	<div class="col-md-3 pull-right">
        <!--img class="img-responsive title-logo" src="http://placehold.it/100x100" alt="placeholder"-->
        <img src="/images/IMG_0504.JPG" alt="VoodooBettie" class="img-circle img-responsive" width="200px" height="200px">
    </div>

    <div class="col-md-9">
    
	    <p class="intro">I'm Ingrid, an independent web developer based near Vancouver Island, B.C.<br />
	    I &hearts; JavaScript, jQuery, Python and tinker with quite a few others.</p>

	    <br />&nbsp;<br />
		<div class="col-md-10">
			<ul class="list-inline">
				<li><i class="fa fa-text-height fa-3x" aria-hidden="true"></i>
					<h4>graphic designer</h4></li>

				<li><i class="fa fa-terminal fa-3x" aria-hidden="true"></i>
					<h4>linux system admin</h4></li>
				<li><i class="fa fa-code fa-3x" aria-hidden="true"></i>
					<h4>Experienced coder</h4></li>
				<li><i class="fa fa-book fa-3x"></i><br />
				<h4>Fantasy &amp; SF geek</h4></li>
			</ul>
		</div>
	</div>

</div>



