<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<div class="container">
      
      
  <div class="col-md-4 text-right">
        <h1 class="text-uppercase title-super"><span>Ingrid Molloy</span></h1>
        <h3><span>Designer with a Heart of Code&trade; </span> </h3>
      </div>
      <div class="col-md-4 pull-right">
        <!--img class="img-responsive title-logo" src="http://placehold.it/100x100" alt="placeholder"-->
        <img src="/assets/vb-avatar2.png" alt="VoodooBettie" class="img-circle img-responsive" width="120px" height="120px">
      </div>
  </div>

    </div>

    <div id="portfolio" class="col-md-12">

     <img class="img-responsive" src="http://placehold.it/1140x350" alt="placeholder" data-toggle="modal" data-target="#project1">
   </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Featured Work</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project2">
        <h3>LandTec Industries</h3>
        <p><a href="http://landtecindustries.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project3">
        <h3>Accessible Wellness</h3>
        <p><a href="http://github.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p>Areas of Expertise</p>
        <p>I am adept at javascript, css, html(5), wordpress, drupal. I'm getting better at Python, Ruby (on Rails). </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project4">
        <h3>Web Apps</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project5">
        <h3>Quadra Island Fall Fair</h3>
        <p><a href="http://github.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
            <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project6">
        <h3>Graphic Design</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>   



        {{ content }}


      </div>
    </div>

</div>

    {% include footer.html %}


  </body>

</html>
