<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<div class="container">
      <div id='bio' class="col-md-8">
        <h2>About Me</a>
      <p class="lead">I'm a front-end developer and graphic designer</p> 
      <p>I work with JavaScript, HTML, CSS and a bit of Python and Ruby on Rails. I've been writing code since age 14 and building websites for 10-ish years. I'm seeking a front-end developer role in a team environment to build interesting things together.</p>
  </div>
  <div class="col-md-4">        
    <ul class="social-media-list">
      <li><i class="fa fa-github"></i> <a href="http://github.com/voodoobettie">GitHub</a></li>
      <li><i class="fa fa-dribbble"></i> <a href="http://dribbble.com/frankeningrid">Dribbble</a><li>
      <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/voodoobettie">Twitter</a></li>
      <li><i class="fa fa-bitbucket"></i> <a href="http://bitbucket.com/frankeningrid">BitBucket</a></li>
      <li><i class="fa fa-linkedin"></i><a href="#">Linkedin</a></li>
      <li><i class="fa fa-stack-overflow"></i><a href="http://stackoverflow.com/voodoobettie"> Stack Overflow</a></li>
    </ul>
  </div>

    </div>

    <div id="portfolio" class="col-md-12">

     <img class="img-responsive" src="http://placehold.it/1140x350" alt="placeholder" data-toggle="modal" data-target="#project1">
   </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Featured Work</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project2">
        <h3>LandTec Industries</h3>
        <p><a href="http://landtecindustries.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project3">
        <h3>Accessible Wellness</h3>
        <p><a href="http://github.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p>Areas of Expertise</p>
        <p>I am adept at javascript, css, html(5), wordpress, drupal. I'm getting better at Python, Ruby (on Rails). </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project4">
        <h3>Web Apps</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project5">
        <h3>Quadra Island Fall Fair</h3>
        <p><a href="http://github.com">Link to project</a></p>
        <p>Design and development with WordPress</p>
      </div>
            <div class="col-md-4">
        <img class="img-responsive" src="http://placehold.it/555x300" alt="placeholder" data-toggle="modal" data-target="#project6">
        <h3>Graphic Design</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>   



        {{ content }}


      </div>
    </div>

</div>

    {% include footer.html %}


  </body>

</html>
