<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}



        {{ content }}


<!--include sidebar 
Blogs I like:
<a href="http://www.codinghorror.com/">Coding Horror</a>
<a href="http://morethancoding.com/">More Than Coding</a>
<a href="http://www.joelonsoftware.com/">Joel on Software</a>
<a href="http://googledevelopers.blogspot.ca/">Google Developer Blog</a>
-->

    {% include footer.html %}


  </body>

</html>

<div class="container">

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>